.nav-bar{
    background-color: #f5f5f3e8;
    .hero{
        border-radius: 6px 55px 6px 55px;
    }
    .logo{
        margin-inline-start: 1em;
        cursor: pointer;
    }
    .signup-btn{
        margin-inline-end: 1em;

    }
}